.featured-video {
  padding: 60px 20px;
  text-align: center;
  background-color: #2d4c39;
}

.video-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #FFF2E0;
  font-weight: 500;
  font-family: lato;
}

.video-player {
  width: 90%;
  max-width: 800px;
  border-radius: 12px;
  outline: none;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}
